# Render Environment Variables
ALLOWED_ORIGIN=https://lamsathub.pages.dev,http://localhost:5500,http://127.0.0.1:5500,http://localhost:5501,http://127.0.0.1:5501
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxx
EMAIL_FROM=Lamsat Hub <onboarding@resend.dev>
TURNSTILE_SECRET_KEY=0x4AAAAAxxxxxxxxxxxxxxxx
TOKEN_SECRET=put-any-long-random-secret-here
JSONBIN_ID=6a47f939da38895dfe29fe11
JSONBIN_KEY=$2a$10$sbQ4jLDOMvzwjHg0Mw8P3.t35KWxkVi8umZWT3Ysl2Kc.RqPF1aWe
OTP_EXPIRY_MINUTES=10
OTP_MAX_ATTEMPTS=5
OTP_RESEND_SECONDS=60
VERIFY_TOKEN_MINUTES=60
